.container {
  header {
    background: var(--header);
    color: var(--text);

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-family: "Righteous", cursive;
      font-size: 2rem;
      font-weight: 300;
      padding: 1rem;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      gap: 2rem;

      div:first-of-type {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
        padding: 0.5rem;
        cursor: pointer;
  
        svg {
          display: block;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
        }

        a {
          padding-top: 0.5rem;
          font-size: 1rem;
        }
      }
    }
  }

  main {
    position: relative;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    top: 35vh;
  }
}
