.headerContainer {
  background: linear-gradient(97.28deg, var(--header) 59.08%, #1C4370 81.54%, #083B70 87.46%);
  color: var(--text);

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  h1 {
    display: flex;

    font-family: "Righteous", cursive;
    font-size: 2rem;
    font-weight: 300;

    margin-left: 15px;

    svg {
      margin-right: 10px;
    }
  }

  .shortcutsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-right: 1rem;
    
    max-width: 400px;
    
    padding: 1rem;
  }

  .slidableShortcuts {
    display: flex;
    flex-direction: row;
    justify-content: center;

    overflow-x: auto;
    white-space: nowrap;

    gap: 2rem;

    margin-right: 5rem;
  }
}
