.moviesContainer {
  main {
    display: flex;

    @media (max-width: 1080px) {
      flex-direction: row;
    }
    @media (max-width: 720px) {
      flex-direction: column;
    }
    
    justify-content: center;
    align-items: center;
    

    overflow-x: auto;

    gap: 2rem;
    padding-top: 10rem;
    padding-bottom: 6rem;

    margin-right: 1rem;
    margin-left: 1rem;
  }
}