.moviesContainer {
  display: flex;
  justify-content: center;
  
  main {
    display: flex;

    @media (max-width: 1080px) {
      flex-direction: row;
    }
    @media (max-width: 720px) {
      flex-direction: column;
    }
    
    justify-content: space-between;
    align-items: center;

    overflow-x: scroll;
    width: 80vw;
    
    gap: 2rem;
    padding-top: 14rem;
    padding-bottom: 6rem;

    margin-right: 1rem;
    margin-left: 1rem;
  }
}