.container {
  main {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    top: 30vh;

    h1 {
      padding-bottom: 3rem;
    }

    > div {
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      justify-content: center;

      > div {
        display: flex;
        flex-direction: row;
        font-size: 1.2rem;

        padding-bottom: 1.5rem;
        
        > label {
          padding-right: 1rem;
        }

        > input {
          background: var(--input);

          border: 0;
          box-shadow: 0 0 5px rgb(83, 83, 83);
          border-radius: 10px;

          color: white;
          font-size: 1.2rem;
          
          height: 2rem;
          padding: 0.5rem;

          &::placeholder {
            color: white;
          }

          &:focus {
            outline: none !important;
            border: 1px solid rgb(48, 103, 175);
          }
        }
      }
    }
  }
}
